{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  
  <script>
    var realcounta = 1;
    var realcountb = 1;
    var realcountc = 1;
    var counta = realcounta;
    var countb = realcountb;
    var countc = realcountc;
    var MasterList = {"Friend A" :1, "Friend B": 1, "Friend C": 1};
    function contributors(){
      conthome();
      addbtn();
      
    }
    
        function conthome(){    
      var addscreen = document.createElement("div");
      addscreen.id = "contributors-homescreen";
      addscreen.style.position = "absolute";
      addscreen.style.top = "850px";
      addscreen.style.left = "200px";
      addscreen.style.width = "1000px";
      addscreen.style.height = "650px";
      addscreen.style.background = "#f2f2f2";
      addscreen.style.color = "white";
      document.body.appendChild(addscreen);
      
        }
    
         function addbtn(){
         var cap = document.createElement("P");
       cap.id ="cap";
       cap.style.position = "absolute";
       cap.style.top = "-50px";
       cap.style.right = "500px";
       cap.style.width = "400px";
       cap.style.height = "65px";
       cap.style.font = "black";
       cap.style.fontSize = "70px";
       cap.style.color = "black";
       cap.innerHTML = "Contributors";
       document.getElementById("contributors-homescreen").appendChild(cap);
       for(var key in MasterList) {
          var value = MasterList[key];
          if (value == 0){
            if(key == "Friend A"){frienda("contributors-homescreen");}
            if(key == "Friend B"){friendb("contributors-homescreen");}
            if(key == "Friend C"){friendc("contributors-homescreen");}
          }
       }
         
       var addbtn = document.createElement("button");
       addbtn.id ="addbtn";
       addbtn.style.borderRadius = "50%";
       addbtn.onclick = function(){quickadd();}
       addbtn.style.background = "#FFFFFF";
       addbtn.style.position = "absolute";
       addbtn.style.top = "550px";
       addbtn.style.border = "1px solid black";
       addbtn.style.height = "80px";
       addbtn.style.width = "80px";
       addbtn.innerHTML = "+";
       addbtn.style.fontSize = "60px";
       document.getElementById("contributors-homescreen").appendChild(addbtn);
       donebtn("contributors-homescreen", function(){}, function(){}, removed)
      }
    function removed(){
      conthome();
      okaybtn();
      whoshares();
    }
    
    function quickadd(){
      document.getElementById("contributors-homescreen").remove();
      share();
      yourfriends();
      donebtn("popup", conthome, okaybtn, whoshares);
      frienda("popup");
      friendb("popup");
      friendc("popup");
      colorcheck(persona, realcounta);
      colorcheck(personb, realcountb);
      colorcheck(personc, realcountc);
    
    }
    
    function whoshares(){
      var whoshares = document.createElement("P");
       whoshares.style.position = "absolute";
       whoshares.style.top = "50px";
       whoshares.style.right = "400px";
       whoshares.style.width = "400px";
       whoshares.style.height = "65px";
       whoshares.style.font = "black";
       whoshares.style.fontSize = "40px";
       whoshares.style.color = "black";
       var message = "You are now sharing your work with:"+" ";
       for(var key in MasterList) {
          var value = MasterList[key];
          if (value == 0){message = message + key + ","+" "}
       }
       message = message.slice(0, message.length - 2);         
       whoshares.innerHTML = message 

       document.getElementById("contributors-homescreen").appendChild(whoshares);
    }

    function share(){    
      var div = document.createElement("div");
      div.id = "popup";
      div.style.position = "absolute";
      div.style.top = "850px";
      div.style.left = "200px";
      div.style.width = "1000px";
      div.style.height = "650px";
      div.style.background = "#f2f2f2";
      div.style.color = "white";
document.body.appendChild(div);
    }
    
               function yourfriends(){
       var cap = document.createElement("P");
       cap.id ="cap";
       cap.style.position = "absolute";
       cap.style.top = "-50px";
       cap.style.right = "400px";
       cap.style.width = "400px";
       cap.style.height = "65px";
       cap.style.font = "black";
       cap.style.fontSize = "70px";
       cap.style.color = "black";
       cap.innerHTML = "Your Friends";
       document.getElementById("popup").appendChild(cap);
           }
    
           function donebtn(area, f1, f2, f3){
       var done = document.createElement("button");
       done.id ="done";
       done.style.borderradius = "40%";
       done.style.position = "absolute";
       done.style.top = "500px";
       done.style.right = "10px"
       done.style.height = "100px"
       done.style.width = "200px"
       done.innerHTML = "Done"
       done.style.fontSize = "70px"
       done.onclick = function(){document.getElementById(area).remove();
                                realcounta = counta;
                                realcountb = countb;
                                realcountc = countc;
                                MasterList["Friend A"] = realcounta;
                                MasterList["Friend B"] = realcountb;
                                MasterList["Friend C"] = realcountc;
                                f1();
                                f2();
                                f3();
                                }
       done.style.background = "#FFFFFF";
       document.getElementById(area).appendChild(done);
           }
    
             function okaybtn(){
       var ok = document.createElement("button");
       ok.id ="ok";
       ok.style.borderradius = "40%";
       ok.style.position = "absolute";
       ok.style.top = "400px";
       ok.style.right = "400px"
       ok.style.height = "100px"
       ok.style.width = "200px"
       ok.innerHTML = "Okay"
       ok.style.fontSize = "70px"
       ok.onclick = function(){document.getElementById("contributors-homescreen").remove();}
       ok.style.background = "#FFFFFF";
       document.getElementById("contributors-homescreen").appendChild(ok);
             }   
       function frienda(area){
       var persona = document.createElement("button");
       persona.classList.add('frndbtn');
       persona.id ="persona";
       persona.style.borderradius = "40%";
       persona.style.position = "absolute";
       persona.style.top = "200px";
       persona.onclick = function(){count = setColora("persona", counta);}
       persona.style.background = "#FFFFFF";
       document.getElementById(area).appendChild(persona);
  
       var labela = document.createElement("P");
       labela.id ="labela";
       labela.style.position = "absolute";
       labela.style.top = "100px"
       labela.style.right = "200px"
       labela.style.width = "400px";
       labela.style.height = "65px";
       labela.style.font = "black";
       labela.style.fontSize = "70px";
       labela.style.color = "black";
       labela.innerHTML = "Friend A";
       document.getElementById(area).appendChild(labela);
       colorchecka();
           }

    
           function friendb(area){
       var personb = document.createElement("button");
       personb.classList.add('frndbtn');
       personb.id ="personb";
       personb.style.position = "absolute";
       personb.style.top = "300px";
       personb.onclick = function(){setColorb("personb");}
       personb.style.background = "#FFFFFF";
       document.getElementById(area).appendChild(personb);

       var labelb = document.createElement("P");
       labelb.id ="labelb";
       labelb.style.position = "absolute";
       labelb.style.right = "200px";
       labelb.style.top = "200px"
       labelb.style.width = "400px";
       labelb.style.height = "65px";
       labelb.style.font = "black";
       labelb.style.fontSize = "70px";
       labelb.style.color = "black";
       labelb.innerHTML = "Friend B";
       document.getElementById(area).appendChild(labelb);
       colorcheckb();
           }
    
           function friendc(area){
       var personc = document.createElement("button");
       personc.classList.add('frndbtn');
       personc.id ="personc";
       personc.style.position = "absolute";
       personc.style.top = "400px";
       personc.onclick = function(){setColorc("personc");}
       personc.style.background = "#FFFFFF";
       document.getElementById(area).appendChild(personc);

       var labelc = document.createElement("P");
       labelc.id ="labelc";
       labelc.style.position = "absolute";
       labelc.style.right = "200px";
       labelc.style.top = "300px"
       labelc.style.width = "400px";
       labelc.style.height = "65px";
       labelc.style.font = "black";
       labelc.style.fontSize = "70px";
       labelc.style.color = "black";
       labelc.innerHTML = "Friend C";
       document.getElementById(area).appendChild(labelc);
       colorcheckc();
           }
    function setColora(btn) {
        var property = document.getElementById(btn);
        if (counta == 0) {
            property.style.backgroundColor = "#FFFFFF"
            counta = 1;        
        }
        else {
            property.style.backgroundColor = "blue"
            counta = 0;
    }}
       function setColorb(btn) {
        var property = document.getElementById(btn);
        if (countb == 0) {
            property.style.backgroundColor = "#FFFFFF"
            countb = 1;        
        }
        else {
            property.style.backgroundColor = "blue"
            countb = 0;
    }}
       function setColorc(btn) {
        var property = document.getElementById(btn);
        if (countc == 0) {
            property.style.backgroundColor = "#FFFFFF"
            countc = 1;        
        }
        else {
            property.style.backgroundColor = "blue"
            countc = 0;
    }}
 
       function colorchecka() {
        if (realcounta == 1) {
            document.getElementById("persona").style.backgroundColor = "#FFFFFF"      
        }
        else {
            document.getElementById("persona").style.backgroundColor = "blue"
        }}
           function colorcheckb() {
        if (realcountb == 1) {
            document.getElementById("personb").style.backgroundColor = "#FFFFFF"      
        }
        else {
            document.getElementById("personb").style.backgroundColor = "blue"
        }}
          function colorcheckc() {
        if (realcountc == 1) {
            document.getElementById("personc").style.backgroundColor = "#FFFFFF"      
        }
        else {
            document.getElementById("personc").style.backgroundColor = "blue"
        }}
  </script>

	<style type="text/css">
		#color-palette {
			width: 1000px;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
      left: 200px;
			top: 0;
		}

		.swatch {
			width: 40px;
			height: 40px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>
  <style>
    .frndbtn{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid black;
    }
  </style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
        
			};	

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			// your rectangle gradient interaction goes in this function
			// you may also add code outside of the function (e.g., global variables)
			function myGradientInteraction(){
				var tool = new paper.Tool();
        var rectangle = new paper.Rectangle(260, 310, 200, 100);
        var path = new paper.Path.Rectangle(rectangle);
        path.fillColor = '#ff0000';
        var mouseDownPt;
        var mouseUpPt;
				tool.onMouseDown = function (event) {
          mouseDownPt = event.point;

          
				}

				tool.onMouseUp = function (event) {
          mouseUpPt = event.point;
          var stop1 = cp.history[cp.history.length - 1];
          var stop2 = cp.history[cp.history.length - 2];
          path.fillColor = {
            gradient: {
              stops: [stop1, stop2]
            },
            origin: mouseDownPt,
            destination: mouseUpPt
          };
					
				}
			}

			// your custom interaction goes here!
			// you may replace everything
			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}


			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
					
				}); 
			}

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script>
</head>
<body>	
	<canvas id="myCanvas" width="750px" height="750px" style ="position: absolute; top: 100px;left: 300px;"></canvas>
	<div id="color-palette"></div>
   <div id = "bottom-screen" style="position: absolute; top: 1620px; width:1366px;height:200px;background-color:#f2f2f2; border:1px solid #000; border-radius: 25px;">
     <button onclick = "contributors()" style = "vertical-align: bottom; float: right; top: 1000px; border:1px solid #000; border-radius: 20px; background-color: PowderBlue; font-size: 70px;" > SHARE
  </button>
  </div>

</body>
</html>